{% extends "base.html" %}

{% block title %}
  {{title}}
{% endblock %}

{% block content %}
<!--
<div class="col-sm-4">
  <div class="thumbnail">
      <a href="http://127.0.0.1:5000/start_page" class="">
          <img src="static/img/billy.png" alt="..." class="">
      </a>
  </div>
</div>
-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('a#money').bind('click', function() {
            $.getJSON('/money_add',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>
<script type=text/javascript>
        $(function() {
          $('a#exp').bind('click', function() {
            $.getJSON('/exp_add',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>



<p>
<form>
  <a href=# id=money><button class='btn btn-default'>Деньги</button></a>
</form>
{{ money_count }}
</p>
<p>
<form>
  <a href=# id=exp><button class='btn btn-default'>Опыт</button></a>
</form>
{{ exp_count }}
</p>
{% endblock %}